
@{
    ViewBag.Title = "Release History";
}

<h1>Release History</h1>

<h2>Version 1.0.5484.36793 (1/7/2015)</h2>
<p>
    Replaced the Note List tree view with an enhanced tree view control in Desktop Client.<br/>
    在桌面客户端中，将笔记列表替换为一个增强型列表视图，可以预览笔记的简要信息和缩略图。
</p>
<h2>Version 1.0.5472.20097 (12/25/2014)</h2>
<p>
    Initial Release <br/>
    第一次版本发布。包含ASP.NET WebAPI服务端，以及Desktop Client桌面客户端。
</p>
