@{
    ViewBag.Title = "Release History";
}

<h1>Release History</h1>
<h2>Version 1.0.5697.26704 (8/7/2015)</h2>
<p>
    <ul>
        <li>
            Improvement: Moved the progress indicator to the bottom-left corner.<br />
            改进：将操作进度条移到主窗体右下角。
        </li>
        <li>
            Bug Fixing: Enable/Disable state of the label in the settings dialog.<br />
            修复：“设置”界面中某些文本控件的启用/禁用状态不正确。
        </li>
        <li>
            Bug Fixing: No title indication on the New Note dialog.<br />
            修复：新建笔记对话框上无标题文字。
        </li>
        <li>
            Improvement: More friendly installer.<br />
            改进：提供更为友好灵活的安装程序。
        </li>
    </ul>
</p>
<p align="right">
    <a href="http://cloudnotes.cloudapp.net/files/CloudNotes.DesktopClient.setup.1.0.5697.26704.zip">下载 Download (1.0.5697.26704)</a>
</p>
<h2>Version 1.0.5504.38654 (2/11/2015)</h2>
<p>
    <ul>
        <li>
            Implemented the Extension Framework for Desktop Client.<br/>
            为桌面客户端提供了扩展功能开发框架。
        </li>
        <li>
            Created three useful extensions: ExportToText, ExportToHTML and ImportFromWeb.<br/>
            提供了三个实用的扩展功能：导出为文本文件、导出为HTML文件，以及从网页导入笔记。
        </li>
        <li>
            Published nuget packages for CloudNotes.Infrastructure and CloudNotes.DesktopClient.Extensibility.<br/>
            为CloudNotes.Infrastructure以及CloudNotes.DesktopClient.Extensibility创建并发布了nuget包。
        </li>
        <li>
            Fixed the refresh issue for the new Enhanced TreeView control.<br/>
            修复了用于显示笔记列表的增强型列表视图的刷新问题。
        </li>
    </ul>
</p>
<p align="right">
    <a href="http://cloudnotes.cloudapp.net/files/CloudNotes.DesktopClient.setup.1.0.5504.38654.zip">下载 Download (1.0.5504.38654)</a>
</p>
<h2>Version 1.0.5484.36793 (1/7/2015)</h2>
<p>
    Replaced the Note List tree view with an enhanced tree view control in Desktop Client.<br/>
    在桌面客户端中，将笔记列表替换为一个增强型列表视图，可以预览笔记的简要信息和缩略图。
</p>
<p align="right">
    <a href="http://cloudnotes.cloudapp.net/files/CloudNotes.DesktopClient.setup.1.0.5484.36793.zip">下载 Download (1.0.5484.36793)</a>
</p>
<h2>Version 1.0.5472.20097 (12/25/2014)</h2>
<p>
    Initial Release <br />
    第一次版本发布。包含ASP.NET WebAPI服务端，以及Desktop Client桌面客户端。
</p>
<p align="right">
    <a href="http://cloudnotes.cloudapp.net/files/CloudNotes.DesktopClient.setup.1.0.5472.20097.zip">下载 Download (1.0.5472.20097)</a>
</p>